body {
    padding: 0;
    margin: 0;
}

#paralax {
    background-image: url(img/paralax.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    padding-top: 100px;
    padding-bottom: 100px;
}

#end {
    border-left: dotted black 1px;
}
.zoom {
    overflow: hidden;

}

.zoom img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.zoom:hover img {
    -moz-transform: scale(1.025);
    -webkit-transform: scale(1.025);
    transform: scale(1.025);
}

.text-imagem {
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 20px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

.anime {
    opacity: 0;
    transform: translate3d(-100, 0, 0);
    transition: .7s;
}

.anime-start {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

hr {
    width: 100px;
}

#btao{
    color: #15D9E8 !important;
}

#btao:hover{
    color: #000 !important;    
}


/* CSS DO VIDEO  */

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}

.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}

.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}

.video-container video.fillWidth {
    width: 100%;
}

.hidden {
    display: none;
}

.video-container .title-container {
    z-index: 1000;
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    color: #fff;
}